<!--Task creation form for managers, expects name, deadline and the id for an existing employee from the database-->
<section>
  <h2>Create New Task</h2>

  <form class="new-task-form">
    <div>
      <label for="task-title">Title</label>
      <input type="text" id="task-title" name="task-title" />
    </div>
    <div>
      <label for="deadline">Deadline</label>
      <input type="date" id="deadline" name="deadline" />
    </div>
    <div>
      <label for="employee_id">Assign to Employee</label>
      <input type="number" id="employee_id" name="employee_id" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/add-task.js"></script>