<!--Displays the delete confirmation on a page-->
<article>
  <a href="/employee-dashboard"> &larr; Back to dashboard</a>
  <h2>
    Mark Task As Complete?
  </h2>
  <form class="edit-task-form">
    <div>
      <input name="task-title" type="text" value="{{task.title}}" />
    </div>

    <button type="button" class="delete-task-btn">Confirm</button>
  </form>
</article>

<script src="/javascript/delete-employee-task.js"></script>