<!--Form for employee login page -->
<form class="login-form">
    <div>
        <label for="" "email-login">Email:</label>
        <input type="text" id="email-login"/> 
    </div>

    <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login"/>
    </div>

    <div>
        <button type="submit">Login</button>
    </div>
</form>

<!--Form for employee signup page -->
<form class="signup-form">
    <div>
        <lable for="firstname-signup">First Name:</lable>
        <input type ="text" id="firstname-signup"/>

        <lable for="lastname-signup">Last Name:</lable>
        <input type ="text" id="lastname-signup"/>
    </div>

    <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
    </div>

    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>

    <div>
        <button id="employee-btn"type="submit">Signup as Team Member</button>
    </div>
</form>

<script src="/javascript/employee-signup.js"></script>
<script src="/javascript/employee-login.js"></script>